.aside-bar {
  display: flex;
  background-color: #0f1e36 !important;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  overflow: auto;
  .p1 {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bolder;
    user-select: none;
    color: #76ccfb;
  }
  .lib-sub {
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .MuiButton-startIcon {
      color: #76ccfb;
    }
  }
  .aside-bar-container {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .playlist {
    flex: 1;
    .lib-sub:hover {
      background-color: #a2d5f2;
    }
  }
}

@media only screen and (max-width: 970px) {
  .aside-bar {
    display: none;
  }
}
