* {
  box-sizing: border-box;
}

body {
  font-family: Consolas, sans-serif;
  padding: 200px;
  margin: 0;
  background-color: #0f1e36;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


